.container {
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: #05090d;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.list {
  padding: 0;
  margin: 0;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: #05090d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.views {
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 16px;
}

.divider {
  width: calc(100% + 8px);
  height: 1px;
  background: #d4d8d9;
  margin-bottom: 4px;
  margin-left: -8px;
}

.bttn {
  align-self: end;
}

@media screen and (max-width: 700px) {
  .container {
    padding-left: 0;
  }

  .bttn {
    width: 100%;
  }
}
