.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 0px 1px rgba(5, 9, 13, 0.06);
}

@media screen and (max-width: 700px) {
  .card {
    border-radius: 0;
  }
}
