.navigation {
  position: fixed;
  z-index: 2;
  height: 80px;
  padding: 16px 48px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 0px 0px rgba(2, 91, 75, 0.1);
}

@media (max-width: 500px) {
  .navigation {
    height: 72px;
  }
}
