.actionbar {
  display: flex;
  height: 96px;
  padding: 16px;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 2px 0px 1px rgba(5, 9, 13, 0.06);
}

.divider {
  display: flex;
  width: 40px;
  min-width: 40px;
  height: 100%;
  justify-content: center;
}

.line {
  width: 1px;
  height: 100%;
  background: #e7eaeb;
}

.controls {
  display: flex;
  gap: 16px;
}

.bttn {
  flex-shrink: 0;
  align-self: stretch;
  width: 160px;
}

@media screen and (max-width: 700px) {
  .actionbar {
    height: initial;
    flex-direction: column;
    border-radius: 0;
    gap: 24px;
  }

  .divider {
    display: none;
  }

  .bttn {
    width: 100%;
  }
}
