.bttn {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  display: flex;
  width: 160px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 100px;
  border: none;
  background: #025b4b;
  transition: background 0.2s ease-in-out;
}

.bttn:hover {
  background: #02433a;
}

@media screen and (max-width: 700px) {
  .bttn {
    width: 100%;
  }
}
